*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bodoni Moda', serif;
    font-size: 1.2rem;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to right, #041308, #0b3317);


}
.left-text{
    flex-basis: 30%;
}

.heading{
    color: white;
    font-size: 3rem;
    text-align: center;
}
.paragraph{
    color:white;
    margin-top: 10px;
    text-align: center;
}
.gallery{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3 ,1fr);
    grid-auto-rows: 100px;
    /* grid-template-rows: repeat(4, 120px); */
    /* grid-template-areas: "waterfalls hills hills"
                         "waterfalls ocean rain"
                         "mountains mountains rain"
                         "trees  beach beach"; */
}
.box{
    background-size: cover;
    background-position: top;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
}


.box:hover{
    background-position: center;
    background-color: #999;
    box-shadow: 0 0 4px #fff;
}

.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}



/* media queries for responsiveness */
@media screen and (max-width:1024px) {
    .container{
        flex-direction: column;
        padding-block: 20px;
    }
    .gallery{
        width: 100%;
        grid-auto-rows: 220px;
        padding-inline: 12px;
    }
    .box{
        grid-row: span 1;
        grid-column: span 3;
    }

    
}
    /* #box1{
    grid-area: 1/1/1/1;
}
#box3{
    grid-area: 2/3/3/4;
}
#box4{
    grid-area: 3/1/4/2;

}
.box{
    grid-column: span 1;
} */
    
